* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  display: block;
}

body {
  font-family: 'Libre Franklin', 'Josefin Sans';
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  min-height: 100vh;
}

.container {
  position: relative;
}
.nav-items {
  margin: 4rem;

  display: flex;
  justify-content: space-around;
}
.heading {
  font-size: 5rem;
}
.fa-wpforms {
  font-size: 5rem;
}

form {
  margin-top: 10rem;
  margin-left: 30rem;
  max-height: 70rem;
  max-width: 60rem;
  background-color: rgb(241, 234, 234);
  box-shadow: 10px 5px 5px rgb(139, 139, 139);
}

.form-container {
  padding: 3rem;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-rows: repeat(5, 1rem);
}
label {
  font-size: 3rem;
}

input {
  height: 3rem;
  border-radius: 0.5rem;
}
.submit-btn {
  margin-left: 25rem;
  width: 8rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(235, 230, 230);
}
